* {
    
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif, 'Times New Roman';

}

body {
    min-height: 100vh;
    background-image: url('dog-img/d-bg.jpeg');
    background-size: cover;
    background-position: center;
}


.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}


.header::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .1);
    backdrop-filter: blur(50px);
    z-index: -1;
}

.header::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    background: linear-gradient(90deg, transparent, rgba(225, 225, 225, .5), transparent);
    transition: .5s;
}

.header:hover::after {
    left: 100%;
}

.name {
    font-size: 2rem;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}


/*  navigation bar style */
.nav-bar a {
    font-size: 1.15rem;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.5rem;

}

#check {
    display: none;
}

.icons {
    position: absolute;
    right: 0;
    font-size: 2.8rem;
    color: #fff;
    cursor: pointer;
    display: none;
}

/*BREAKPOINTS*/
@media (max-width: 992px) {
    .header {
        padding: 5%;
    }
}

@media (max-width: 768px) {
    .icons {
        display: inline-flex;
    }

    #check:checked~.icons #menu-icon {
        display: none;
    }

    .icons #close-icon {
        display: none;
    }

    #check:checked~.icons #close-icon {
        display: block;
    }

    .nav-bar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: rgba(0, 0, 0, .1);
        backdrop-filter: blur(50px);
        box-shadow: 0.5rem 1rem rgba(0, 0, 0, .1);
        overflow: hidden;
        transition: .3s ease;
    }
    
    #check:checked~.nav-bar {
        height: 17.7rem;
    }

    .nav-bar a {
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
        transform: translateY(-50px);
        opacity: 0;
        transition: .3s ease;
    }

    #check:checked~.nav-bar a {
        transform: translateY(0);
        transition-delay: calc(.15s * var(--i));
        opacity: 1;
    }
}


